.container {
  width: 100%;
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 72px 0;
  }
}

@media screen and (min-width) {
  .container {
    padding: 72px 100px;
  }
}

.text {
  font-family: "Simplon Norm";
  font-weight: 400;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #252020;
}

.pageInfoTitle {
  font-size: 24px;
  line-height: 28.8px;
  margin-bottom: 16px;
}

.pageInfoDesc {
  font-style: 16px;
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  .pageInfoTitle {
    font-size: 60px;
    line-height: 72px;
  }
  .pageInfoDesc {
    font-size: 22px;
    line-height: 40px;
  }
}
